html {
  scroll-behavior: smooth;
  background-color: rgb(225, 238, 245);
}
body {
  background-size: cover;
  margin: auto;
  background-color: rgb(225, 238, 245);
}

/*Font*/
@font-face {
  src: url(fonts/SF-Pro-Display-Bold.otf);
  font-family: SFPro;
}
@font-face {
  src: url(fonts/SF-Pro-Display-Regular.otf);
  font-family: SFProR;
}
@font-face {
  src: url(fonts/SF-Pro-Display-Medium.otf);
  font-family: SFProM;
}
@font-face {
  src: url(fonts/SF-Pro-Display-Heavy.otf);
  font-family: SFProH;
}
@font-face {
  src: url(fonts/SF-Pro-Display-Light.otf);
  font-family: SFProL;
}
@font-face {
  src: url(fonts/SF-Pro-Display-Black.otf);
  font-family: SFProBl;
}


nav {
background-color: #000;
}

.container {
  background-color: #000;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
    transform: translatey(-16px);
	}
	100% {
		transform: translatey(0px);
	}
}

.landingImg {
  animation: float 4.5s ease-in-out infinite;
  margin-top: -10%
}

@keyframes float1 {
	0% {
		transform: translatey(5px);
	}
	50% {
    transform: translatey(-10px);
	}
	100% {
		transform: translatey(5px);
	}
}

.projImg {
  animation: float1 4.5s ease-in-out infinite;
}

@media (max-width:992px){
  .landingImg {
    margin-top: 12px
  }  
}

/*Name in the intro page*/
.name {
  font-family: SFPro;
  color: rgb(43,50,103);
  font-size: 65px;
  font-weight: 900;
  margin-top: -6px
}

@media (max-width:1880px){
  .name {
  font-size: 55px;
 }
}

@media (max-width:1680px){
  .name {
  font-size: 50px;
 }
}

@media (max-width:1430px){
  .name {
  font-size: 40px;
 }
}
/*Personal description*/
.bio
{
  font-family: SFProL;
  color: rgb(51, 76, 167);
  font-weight: 400;
  font-size: 17.5px;
}

/*Logo of Ant*/
.antlogo{
  position: fixed;
  right:10%;
  margin-top: 26px
}

/*Navigation menu*/
.main_menu {
   margin:  18px 0 18px 0;
   position: fixed;
   left: 10%;
}

/*Navigation menu line*/
.main_menu li {
  padding: 0px;
  font-size: 16px;
}

/*Navigation menu links*/
.main_menu a {
  color: rgb(43,50,103);
  text-decoration: none;
  padding-bottom: 8px;
  transition: 0.2s;
  font-family: SFPro;
  font-size: 15px;
}

/*Navigation menu hover effect*/
nav ul li {
  font-family: SFPro;
  display: inline-block;
}

.main_menu {
  color: rgb(43,50,103);
  text-decoration: none;
  transition: 0.2s;
  background:rgb(255, 255, 255);
  padding: 9px;
  border-radius: 20px;
}
.main_menu * {
  box-sizing: border-box;
  text-decoration: none;
}
.main_menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
  text-decoration: none;
}
.main_menu a {
  padding: 0.5em 0;
  color: rgb(43,50,103);
  position: relative;
  text-decoration: none;
}
.main_menu a:hover {
  text-decoration: none;
}
.main_menu a:before,
.main_menu a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  text-decoration: none
}
.main_menu a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color:  rgb(63, 88, 177);
  text-decoration: none;
}
.main_menu a:after {
  left: 0;
  top: 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
  text-decoration: none;
}
.main_menu a:hover:before,
.main_menu .current a:before {
  opacity: 1;
  width: 100%;
}
.main_menu a:hover:after,
.main_menu .current a:after {
  max-width: 100%;
}

.main_menu a:hover {
  color: rgb(63, 88, 177);
}

.main_menu-MOB{
  display: none
}

.landingDiv{
  margin-top: 20%
}

@media (max-width:768px){
  .main_menu{
    display: none
  }
  .main_menu-MOB{
    display: inherit
  }
  .landingDiv{
    margin-top: 100px
  }
}

/* Social Icons */
.tooltip.top .tooltip-inner {
  background-color:  rgb(39, 49, 83)  ;
  font-family: SFProR;
}

.tooltip .tooltip-arrow {
  border-top: 5px solid rgb(39, 49, 83) !important;
  transform: scale(1.18);
}

.social-media-icon{
  transition: 0.3s;
  margin: 6.25px;
}
.social-media-icon:hover{
  transform: scale(1.25);
}

.media-icon{
  transition: 0.3s;
  margin: 4.25px;
}

.media-icon:hover{
  transform: scale(1.25);
}

#projects, #contact, #skills, #education, #experience{
  padding-top: 150px
}

@media (max-width:1900px){
  #projects, #contact, #skills, #education, #experience{
    padding-top: 140px
   }
  }

@media (max-width:1700px){
  #projects, #contact, #skills, #education, #experience{
  padding-top: 97px
 }
}

@media (max-width:1500px){
  #projects, #contact, #skills, #education, #experience{
    padding-top: 50px
   }
  }

@media (max-width:768px){
  #projects, #contact, #skills, #education, #experience{
    padding-top:150px;
    }
  }

@media (max-width:992px){
  .proj-img{
    margin-bottom: 30px
    }
  .text1{
    max-width: 400px;
    margin:auto
    }
}
  

#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 20px;
  font-family: SFPror;
}
#fs-frm label,
#fs-frm legend {
  font-size: 18px;
  margin-bottom: .25em;
  font-family: SFPro;
  color: rgb(43,50,103);
}
/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm button,
#fs-frm textarea {
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
  transition: 0.3s
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: none;
  box-shadow: 0 0 0 1.2px  rgb(63, 88, 177);
  
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm button,
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm button:focus,
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm button,
#fs-frm select {
  text-transform: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

#contact{
  margin-bottom: 40px
}

@media (max-width:992px){
  .contact-img{
    margin-top: 15px
    }
    #contact{
      margin-bottom: 10px
    }
}

#link{
  text-decoration: none;
}

#link h4{
  transition: 0.3s
}
#link h4:hover{
  color: rgb(54, 113, 201);
}