body
{
  background-size: cover;
  margin: auto;
}

/*Font*/
@font-face
{
  src: url(fonts/SF-Pro-Display-Bold.otf);
  font-family: SFPro;
}
@font-face
{
  src: url(fonts/SF-Pro-Display-Heavy.otf);
  font-family: SFProH;
}
@font-face
{
  src: url(fonts/SF-Pro-Display-Light.otf);
  font-family: SFProL;
}
@font-face
{
  src: url(fonts/SF-Pro-Display-Black.otf);
  font-family: SFProBl;
}


nav{
background-color: #000;
}

/*Name in the intro page*/
.name
{
  font-family: SFPro;
  color: rgb(43,50,103);
  font-size: 45px;
  font-weight: 900;
  margin-top: -6px
}

/*Personal description*/
.bio
{
  font-family: SFProL;
  color: rgb(75, 99, 187);
  font-weight: 400;
  font-size: 19px
}

/*Logo of Ant*/
.antlogo
{
  position: fixed;
  top:3.5%;
  right:10%;
}

/*Navigation menu*/
.main_menu
{
   margin:  18px 0 18px 0;
   position: fixed;
   left: 10%;
   top: 1.8%;
}

/*Navigation menu line*/
.main_menu li
{
  padding: 0px;
  font-size: 16px;
}

/*Navigation menu links*/
.main_menu a
{
  color: rgb(43,50,103);
  text-decoration: none;
  padding-bottom: 8px;
  transition: 0.2s
}

/*Navigation menu hover effect*/


/*Contact in mav menu*/
.contact
{
   padding:  18px 0 18px 0;
   position: fixed;
   right: 12.5%;
}

.contact li
{
  padding: 0 7px 0 7px;
  font-size: 16px;
}

.contact a
{
  color: #fff;
  text-decoration: none;
  padding: 8px;
}

.contact a:hover
{
  color: rgb(75, 99, 187);
}

.container
{
  background-color: #000;
}

nav ul li
{
  font-family: SFPro;
  display: inline-block;
}


.snip1135 {
  color: rgb(43,50,103);
  text-decoration: none;
  transition: 0.2s;
}
.snip1135 * {
  box-sizing: border-box;
  text-decoration: none;
}
.snip1135 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
  text-decoration: none;
}
.snip1135 a {
  padding: 0.5em 0;
  color: rgb(43,50,103);
  position: relative;
  text-decoration: none;
  
}.snip1135 a:hover {
  text-decoration: none;
}
.snip1135 a:before,
.snip1135 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  text-decoration: none
}
.snip1135 a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2980b9;
  text-decoration: none;
}
.snip1135 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
  text-decoration: none;
}
.snip1135 a:hover:before,
.snip1135 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1135 a:hover:after,
.snip1135 .current a:after {
  max-width: 100%;
}



.social-media-icon{
  transition: 0.3s;
}
.social-media-icon:hover{
  transform: scale(1.25);
}